@keyframes gradient {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 65%;
  }
  100% {
    background-position: 0% 65%;
  }
}
.animatedGradient {
  background: linear-gradient(45deg, #454A90 0%, #6868A7 10%, #8877B5 20%, #7185BA 30%, #768DD0 40%, #97A8DF 50%, #717ea7 60%, #58699c 70%, #54638b 80%, #665987 90%, #4e4e7d 100%, #33376c 110%);
  background-size: 1000% 1000%;
  animation: gradient 20s linear infinite;
  border-style: solid;
  border-width: 0.2em;
  border-color: #8877B5;
}

.calendar {
  all: unset;
  font-family: nunito;
  margin: 1em;
  padding: 0.3em;
  font-size: 1.5em;
}
.calendar .button {
  color: #97A8DF;
  border-radius: 1.4rem;
}
.calendar .header {
  color: #97A8DF;
  border: none;
  border-radius: 1.4rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.calendar .highlight {
  color: #97A8DF;
}
.calendar :indeterminate {
  color: #717ea7;
}
.calendar :selected {
  border-radius: 0.84rem;
  color: #97A8DF;
  box-shadow: inset 0 -8px 0 0 #97A8DF, inset 0 0 0 2px #97A8DF;
}

.popup {
  background: rgba(25, 25, 52, 0.6);
  border-color: #454A90;
}
.popup > box {
  border-radius: 0.7em;
  background: rgba(25, 25, 52, 0.6);
  border-color: #454A90;
  border-width: 0.285rem;
  border-style: solid;
}
.popup * {
  margin: 0.5em;
}
.popup label {
  font-size: 20px;
}

.appButton {
  background: transparent;
}

.selectedAppButton {
  background-color: #54638b;
  border-radius: 0.5em;
}

button.transparentButton {
  border-style: solid;
  border-width: 0.2em;
  border-color: #8877B5;
  background-color: rgba(102, 89, 135, 0.65);
}
button.focused {
  background-color: rgba(136, 119, 181, 0.65);
  min-width: 2em;
  transition: min-width 200ms ease, background-color 200ms ease;
}
button.unfocused {
  min-width: 1em;
  transition: min-width 200ms ease, background-color 200ms ease;
}

.timeWindow .weekday {
  margin: 0.2em;
  font-family: "Anurati";
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: 1rem;
  color: #4e4e7d;
}
.timeWindow .date {
  font-family: "nunito";
  font-weight: bold;
  font-size: 3rem;
  color: #665987;
}
.timeWindow .time {
  font-family: "nunito";
  font-weight: bold;
  font-size: 3rem;
  color: #665987;
}

.icon-dropshadow {
  box-shadow: none;
}

box {
  padding: 0.1em;
}

viewport {
  all: unset;
}

button {
  font-size: 1em;
  margin: 0.35em;
  box-shadow: none;
  text-shadow: none;
  color: #e9e9e9;
  border-radius: 2em;
  background-color: #665987;
  outline: none;
}

overshoot {
  background-size: 0;
}

.overlay-indicator {
  all: unset;
}

scale {
  outline: none;
}

highlight {
  border: none;
  background-color: #97A8DF;
}

trough {
  min-height: 0.1em;
  background: none;
  border: none;
  outline: none;
}

slider {
  border-radius: 2em;
  border-width: 0px;
  background: linear-gradient(45deg, #665987, #54638b);
  box-shadow: unset;
  text-shadow: unset;
}

.gradientBackground {
  font-size: 1.5rem;
  padding: 0 1em;
  margin: 0.1em;
  color: #e9e9e9;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0rem;
  background: linear-gradient(45deg, #665987, #54638b);
  outline: none;
  box-shadow: unset;
  text-shadow: unset;
}

.whiteText {
  font-size: 32px;
  color: #e9e9e9;
}

.transparentBackground {
  border-radius: 0.5em;
  background: rgba(25, 25, 52, 0.25);
  border-color: #454A90;
  border-width: 0.285rem;
  border-style: solid;
}

.darkerBackground {
  background: rgba(25, 25, 52, 0.6);
}

.background {
  all: unset;
}

image {
  color: white;
  -gtk-icon-shadow: none;
  box-shadow: unset;
  text-shadow: unset;
}

/*# sourceMappingURL=style.css.map */
