@use "../../../../.cache/wal/colors-ags" as col;

@mixin hidden {
	* {
		background: transparent;
		outline-color: transparent;
		border-color: transparent;
		color: transparent;
		box-shadow: none;
	}
}

.timeWindow {
	// @include hidden();
	padding-top: 200px;
	padding-right: 1100px;

	.weekday {
		font-family: "Hoodson Script Free Demo";
		letter-spacing: 0.2rem;
		font-size: 8rem;
	}

	.time {
		font-size: 4rem;
	}

	.date {
		font-size: 4rem;
	}
}